body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

.feed-page {
    background-image: url('../../assets/Feedpage_Background.png');
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

h2 {
    font-family: 'Magnific-Chaos';
}

.post-form {
    display: flex;
    max-width: 37%;
    flex-direction: column;
    background-color: #2f2d2a;
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #e3ad2f;
    border-top-color: #fbd346;
    border-left-color: #fbd346;
}

.feed button {
    padding: 12px;
    background-color: #952424;
    color: #f3e3c8;
    border: 3px solid #e3ad2f;
    border-top-color: #fbd346;
    border-left-color: #fbd346;
    border-radius: 0;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'EagleLake', sans-serif;
}

.feed button:hover{
    background-color: #d64f4f;
}

.post {
    margin: 2.6rem;
    margin-right: 15rem;
}



.feed {
    font-family: 'EagleLake';
}

