.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem;
}
.post-form label {
    margin-bottom: 0.5rem;
}
.post-form button {
    margin-top: 0.5rem;
}

.post {
    margin-bottom: 0.6rem;
}