.forge button {
    font-family: 'EagleLake', cursive; /* Font for the button text */
    font-size: 16px; /* Adjust font size */
    color: #F3E3C8; /* Text color */
    background-color: white; /* White background inside the button */
    border: 2px solid #333; /* Add a solid border */
    border-radius: 5px; /* Optional: Rounded corners */
    padding: 10px 20px; /* Add padding for better spacing */
    cursor: pointer; /* Change cursor to indicate clickability */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    background-color: #952424;
    border: 4px solid #f1b83a;
}

.forge button:hover {
    background-color: #952424;  /* Slightly darker background on hover */
    border-color: #666; /* Darken border color on hover */
    color: #000; /* Darken text color on hover */
}
