.post {
    padding: 0.8rem;
    margin-left: 2.6rem;
}

.whole-post {
    /* background-image: url('../assets/scrollFinal.png'); */
    background-color: #2f2d2a;
    border: 5px solid #e3ad2f;
    border-top-color: #fbd346;
    border-left-color: #fbd346;
    width: 100%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.post-btns {
    margin-right: 1.3rem;
}
.username-date {
    margin-left: 1.3rem;
}

.picture-cont{
    border: 1px solid black;
    margin: 0;
    flex-grow: 1;
    padding: 0.4rem;
    margin: 0 0.2rem 0 0;
}
.post-pp {
    max-width: 8rem;
}



.post-main-content {
    display: flex;
    flex-direction: column;
}

.main-content-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: none;
}

/* .main-content img {
    width: 10rem;
    height: 13rem;
} */

.post-img {
    width: 14rem;
}

a {
    text-decoration: none;
}
.post-username {
    font-size: 0.8rem;
    text-decoration: none;
    color: #f3e3c8;
    font-size: 1.1rem;
}

.post-date {
    font-size: 0.8rem;
    color: #f3e3c8;
    justify-self: left;
}

.edited-tag {
    font-size: 0.6rem;
    color: #7e776b;
}

.post-message {
    margin: 0.8rem 0;
    color: #f3e3c8;
}

.edit-post {
    margin: 0 0.4rem 0 0;
    color: #f3e3c8;
}

.edit-post:hover {
    cursor: pointer;
    scale: 0.9;
}

.delete-post {
    color: #f3e3c8;
}

.delete-post:hover {
    cursor: pointer;
    animation: spin 0.25s linear;
}

.send-update {
    margin: 0 0.4rem 0 0;
    color: #f3e3c8;
}

.send-update:hover {
    cursor: pointer;
    transform: translate(0.2rem);
}

.undo-update {
    color: #f3e3c8;
}

.undo-update:hover {
    cursor: pointer;
    animation: reverse-spin 0.5s forwards;
}

.post-cmts {
    padding-bottom: 1.2rem;
    display: flex;
    justify-self: center;
    padding-left: 1rem;
    flex-direction: column;
    width: 30%;
    color:#f3e3c8
}

.post-cmts textarea {
    margin: 0.5rem;
    margin-top: 2rem;
    height: 8rem;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    background-color: rgb(79, 79, 79);
    padding: 10px;
    border-radius: 5px;
    color: #f3e3c8;
    font-family: 'EagleLake';
}

.post-cmts p {
    display:flex;
    justify-self: left
}

.update-comment {
        margin: 0.5rem;
        margin-top: 2rem;
        width: 100%;
        box-sizing: border-box;
        /* flex-grow: 1; */
        border: none;
        background-color: rgb(79, 79, 79);
        padding: 10px;
        border-radius: 5px;
        color: #f3e3c8;
        font-family: 'EagleLake';
}

.update-post {
    margin: 0.5rem;
    margin-top: 2rem;
    width: 65%;
    border: none;
    background-color: rgb(79, 79, 79);
    padding: 10px;
    border-radius: 5px;
    color: #f3e3c8;
    font-family: 'EagleLake';
    box-sizing: border-box;
}


@keyframes reverse-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}




