.post {
    border: solid black 1px;
    padding: 0.8rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.picture{
    border: 1px solid black;
    margin: 0;
    flex-grow: 1;
    padding: 0.4rem;
    margin: 0 0.2rem 0 0;
}

.post-main-content {
    display: flex;
    flex-direction: column;
}

.main-content-header {
    display: flex;
    justify-content: flex-end;
}

.post-username {
    font-size: 0.8rem;
}

.post-date {
    font-size: 0.6rem;
}

.edited-tag {
    font-size: 0.6rem;
}