.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 2;
}

.popup-form {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 3;
    width: 55vw;
    height: 55vh;
    background-color: #f5f5dc;
    border: 1px solid #D4AF37;
    border-radius: 2rem;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.post-form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.post-form-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.9rem;
    border-radius: 2rem;
}

.post-side-heading {
    min-width: 3rem;
}

.post-form-close {
    color: #f3e3c8
}

.post-form-close:hover {
    cursor: pointer;
    animation: spin 0.25s linear;
}

.post-form-heading {
    flex-grow: 1;
    color: #f5f5dc;
}
.post-image-container {
    display: flex;
    justify-content: center;
    /* min-height: 5rem; */
    align-items: center;
}

.post-text-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    border-radius: 5px;
}

.post-text {
    margin: 0;
    height: 8rem;
    resize: none;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    background-color: #56524a;
    padding: 10px;
    border-radius: 5px;
    color: #f3e3c8;
    font-family: 'EagleLake';
}

.post-text::placeholder {
    color: #f3e3c8;

}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
}

.post-btn {
    margin: 0;
    border: none;
    align-self: center;
    flex-grow: .9;
    margin-left: 2.8rem;
    background-color: #9b1c31;
    border-radius: 2rem;
    color: #f5f5dc;
    font-weight: bold;
    cursor: pointer;
}

.post-btn:hover {
    cursor: pointer;
}

.custom-file-upload {
    margin: 0.1rem;
    scale: 1.35;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #952424;
    color: #f3e3c8;
    border: 2px solid #e3ad2f;
    border-top-color: #fbd346;
    border-left-color: #fbd346;
    transition: background-color 0.3s;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #d64f4f;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}