.comment-buttons {
    padding: 12px;
    background-color: #952424;
    color: #f3e3c8;
    border: 3px solid #e3ad2f;
    border-top-color: #fbd346;
    border-left-color: #fbd346;
    border-radius: 0;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'EagleLake', sans-serif;
}

.submit-undo {
    margin-bottom: 1rem;
}

.update-delete {
    display: flex;
    margin-bottom: 1rem;
}

.comment-submit {
    margin-bottom: 1rem;
}