.homepage{
  background-image: url('../../assets/Login_page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 74vh;
  width: 100%;
  text-align: center;
}

.user-auth {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

body.home {
  display: block !important;
}

.home h1 {
  font-size: 4.9em;
  line-height: 1.1;
  font-family: 'EagleLake';
}

.user-auth a {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  font-family: 'EagleLake';
  background-color: #952424;
  border: 2px solid #f1b83a;
  border-radius: 0;
  color: #f3e3c8;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 3px 22px 3px 22px;
}