nav {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    padding-bottom: 0.3rem;
    margin: 0.4rem 0;
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 0.8rem;
    text-decoration: none;
    color: blue;
    background: none;
    border: none;
    font-size: 0.9rem;
}

.nav-link:hover {
    cursor: pointer;
    transform: scale(0.92);
}

.nav-pic {
    display: flex;
    background: none;
    border: none;
    margin: 0 0.2rem 0 0;
}

.nav-pic img {
    border-radius: 1.2rem;
    padding: 0.1rem;
}

.logout-btn {
    background: none;
    border: none;
    font-size: 0.9rem;
}

.logout-btn:hover {
    cursor: pointer;
    transform: scale(0.92);
} 