body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;

}

.diplomacy-background {
    background-image: url('../../assets/Background.png');
    background-size: cover; /* Ensures the image covers the element without stretching */
    background-position: center; /* Keeps the image centered */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-attachment: fixed;
    height: 100vh; /* Makes sure the background covers the full viewport height */
}

.{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.Title {
    border-radius: 15px;
    font-family: 'EagleLake';
}

.alliances {
    display: grid; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: 'EagleLake'; 
}
/* hello */
